body {
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  border-radius: 8px;
  font-size: 96px;
}
.hero {
  padding: 150px 0px;
  background: #e8eaf6;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.hero h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}
